* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #d6c5a8;
	font-family: Arial, Helvetica, sans-serif;
}

.navbar {
	padding: 2em;

	/* turns on flex */
	display: flex;
	/* sets main axis */
	flex-direction: row;
	/* handles width changes */
	flex-wrap: wrap;
	/* handles main axis distance */
	justify-content: space-around;
	/* handles cross axis distance */
	align-items: center;
	/* specifies distance between child elements */
	gap: 1em;
}

.nav-link {
	text-decoration: none;
	color: #3e5b74;
}

#contact {
	/* works on individual flex child to modify its order */
	order: -1;
	/* handles individual size distribution */
	flex-grow: 1;
	/* handles cross axis distribution */
	align-self: flex-end;
}

.auth-wrapper > input,
button {
	padding: 10px;
	border-radius: 5px;
	color: #3e5b74;
}

#submitBtn {
	width: 200px;
}
