* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #d6c5a8;
	font-family: Arial, Helvetica, sans-serif;
}

/* 
    ? Flexbox
    * module dividing our wireframe
    * divides wireframes into parent & child containers
    * uses custom properties and values
    * it uses the pattern of parents controlling children
*/

.navbar {
	padding: 2em;

	/* turns on flex */
	display: flex;
	/* sets main axis */
	flex-direction: row;
	/* handles width changes */
	flex-wrap: wrap;
	/* handles main axis distance */
	justify-content: space-around;
	/* handles cross axis distance */
	align-items: center;
	/* specifies distance between child elements */
	gap: 1em;
}

.nav-link {
	text-decoration: none;
	color: #3e5b74;
}

#contact {
	/* works on individual flex child to modify its order */
	order: -1;
	/* handles individual size distribution */
	flex-grow: 1;
	/* handles cross axis distribution */
	align-self: flex-end;
}

/* 
    ? Flexbox Challenge
    * we have two input fields and a button
    * 1. put them in column view
    * 2. center width-wise
    * 3. center height-wise
    ! SPICEY challenge: flip the button to be on top
*/

.auth-wrapper > input,
button {
	padding: 10px;
	border-radius: 5px;
	color: #3e5b74;
	width: 200px;
}

.auth-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	/* flex-direction: column-reverse; */
	gap: 5px;
}

#submitBtn {
	width: 220px;
	/* order: -1; */
}

#submitBtn:hover {
	background-color: #3e5b74;
	color: white;
	transition: ease-in 0.5s;
}
